[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
	branch = v5.4
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/ode"]
	path = external/ode
	url = https://github.com/thomasmarsh/ODE
[submodule "external/OpenGLOnMacOS9"]
	path = external/OpenGLOnMacOS9
	url = https://github.com/IoIxD/OpenGLOnMacOS9
[submodule "external/jar"]
	path = external/jar
	url = https://github.com/pyrite-dev/jar
[submodule "external/osmesa"]
	path = external/osmesa
	url = https://github.com/pyrite-dev/osmesa
